<section class="flex justify-between">
    <article class="w-[140px] h-[68px] rounded-md flex flex-col justify-center items-center bg-green-dark text-grey-dark">
           <p class="text-sm font-bold">{{letter1}}{{player1}}</p>
           <p class="font-bold text-2xl">{{letter1 === 'X' ? choice.numberOfWinsX : choice.numberOfWinsO}}</p>
    </article>
    <article class="w-[140px] h-[68px] rounded-md flex flex-col justify-center items-center bg-slate-dark text-grey-dark">
           <p class="text-sm font-bold">TIES</p>
           <p class="font-bold text-2xl">{{choice.numberOfTies}}</p>
    </article>
    <article class="w-[140px] h-[68px] rounded-md flex flex-col justify-center items-center bg-yellow-dark text-grey-dark">
           <p class="text-sm font-bold">{{letter2}}{{player2}}</p>
           <p class="font-bold text-2xl">{{letter2 === 'X' ? choice.numberOfWinsX : choice.numberOfWinsO}}</p>
    </article>
</section>
