<div class="w-screen px-5 sm:w-[460px] sm:px-0 h-full mb-5">
  <!-- Loading message -->
  <p *ngIf="choice.loading && choice.networkError === ''" class="text-white font-medium text-center text-5xl mx-auto">Fetching Board...</p>
  
  <!-- Network error message -->
  <p class="flex justify-center items-center bg-white w-fit rounded-md h-[200px] text-red-500 p-8 mx-auto text-2xl font-medium" *ngIf="choice.networkError !== ''">{{choice.networkError}}</p>
  
  <!-- Game content -->
  <div *ngIf="!choice.loading && choice.networkError === ''">
    <!-- Win modal -->
    <app-win-modal *ngIf="choice.winner !== ''"></app-win-modal>
    
    <!-- Restart modal -->
    <app-restart-modal *ngIf="choice.showRestartModal"></app-restart-modal>
    
    <!-- Tie modal -->
    <app-tie-modal *ngIf="choice.tie"></app-tie-modal>
    
    <!-- Game status section -->
    <section class="flex w-full justify-between items-center p-2">
      <!-- Turn indicator -->
      <svg width="72" height="32" xmlns="http://www.w3.org/2000/svg">
        <g fill="none" fill-rule="evenodd">
          <path d="M8.562 1.634 16 9.073l7.438-7.439a3 3 0 0 1 4.243 0l2.685 2.685a3 3 0 0 1 0 4.243L22.927 16l7.439 7.438a3 3 0 0 1 0 4.243l-2.685 2.685a3 3 0 0 1-4.243 0L16 22.927l-7.438 7.439a3 3 0 0 1-4.243 0L1.634 27.68a3 3 0 0 1 0-4.243L9.073 16 1.634 8.562a3 3 0 0 1 0-4.243L4.32 1.634a3 3 0 0 1 4.243 0Z" fill="#31C3BD"/>
          <path d="M56.1 0c8.765 0 15.87 7.106 15.87 15.87 0 8.766-7.105 15.871-15.87 15.871-8.765 0-15.87-7.105-15.87-15.87C40.23 7.106 47.334 0 56.1 0Zm0 9.405a6.466 6.466 0 1 0 0 12.931 6.466 6.466 0 0 0 0-12.931Z" fill="#F2B137" fill-rule="nonzero"/>
        </g>
      </svg>
      <span>
        <article class="flex bg-grey-light rounded-md text-slate-dark w-fit gap-3 items-center justify-center p-2">
          <img *ngIf="!choice.turnLoading" class="h-5" [src]="choice.turn === 'x' ? '../../assets/letter x.png' : '../../assets/small o.png'">
          <p>{{ choice.turnLoading ? 'Wait...' : 'TURN' }}</p>
        </article>
      </span>
      <!-- Restart button -->
      <span (click)="setRestartModal()" class="bg-slate-light hover:bg-slate-dark cursor-pointer rounded-md h-10 w-10 p-1 flex justify-center items-center">
        <img class="h-5" src="../../assets/Redo.png">
      </span>
    </section>
    
    <!-- Game board -->
    <section class="grid grid-rows-3 mt-8 grid-flow-col gap-2 sm:gap-4 w-full">
      <div *ngFor="let tile of choice.tiles; let i = index">
        <!-- Tiles not in the winning row or column -->
        <article *ngIf="tile.name >= 0 && tile.name <= 8 && !isTileInContentIndices(tile.name)"
          (mouseenter)="onHover(i)" (mouseleave)="stopHover(i)" (click)="handleClick(i)"
          [ngClass]="'sm:w-[140px] sm:h-[140px] w-[110px] h-[110px] cursor-pointer ' + (choice.turnLoading || tile.clicked ? 'cursor-not-allowed' : 'cursor-pointer') + ' flex justify-center items-center bg-grey-light mb-8 rounded-2xl shadow-bottom-grey'">
          <img *ngIf="tile.content !== ''" [src]="tile.content" alt="Tile {{i + 1}}" />
        </article>
        
        <!-- Tiles in the winning row or column -->
        <article *ngIf="tile.name >= 0 && tile.name <= 8 && isTileInContentIndices(tile.name)"
          (mouseenter)="onHover(i)" (mouseleave)="stopHover(i)" (click)="handleClick(i)"
          [ngClass]="'sm:w-[140px] sm:h-[140px] w-[110px] h-[110px] ' + (tile.content === '../../assets/greenx.png' ? 'bg-green-light shadow-bottom-green' : 'bg-yellow-light shadow-bottom-yellow') + ' flex justify-center items-center mb-8 rounded-2xl'">
          <svg *ngIf="choice.content === '../../assets/greenx.png'" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.2406 1.14742C52.0691 -0.0241513 50.1696 -0.0241497 48.998 1.14742L32 18.1454L15.002 1.14742C13.8304 -0.0241506 11.9309 -0.0241496 10.7594 1.14742L1.14742 10.7594C-0.0241497 11.9309 -0.0241481 13.8304 1.14742 15.002L18.1454 32L1.14742 48.998C-0.0241506 50.1696 -0.0241496 52.0691 1.14742 53.2406L10.7594 62.8526C11.9309 64.0241 13.8304 64.0241 15.002 62.8526L32 45.8546L48.998 62.8526C50.1696 64.0242 52.0691 64.0241 53.2406 62.8526L62.8526 53.2406C64.0242 52.0691 64.0241 50.1696 62.8526 48.998L45.8546 32L62.8526 15.002C64.0242 13.8304 64.0241 11.9309 62.8526 10.7594L53.2406 1.14742Z" fill="#1A2A33"/>
          </svg>
          <svg *ngIf="choice.content === '../../assets/Oval.png'" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M64 32C64 14.3269 49.6731 0 32 0C14.3269 0 0 14.3269 0 32C0 49.6731 14.3269 64 32 64C49.6731 64 64 49.6731 64 32ZM18.963 32C18.963 24.7998 24.7998 18.963 32 18.963C39.2002 18.963 45.037 24.7998 45.037 32C45.037 39.2002 39.2002 45.037 32 45.037C24.7998 45.037 18.963 39.2002 18.963 32Z" fill="#1A2A33"/>
          </svg>
        </article>
      </div>
    </section>

    <!-- Players -->
    <app-players></app-players>
  </div>
</div>
